.btn-green {
  display: inline-block;
  color: white;
  background-color: rgba(101, 199, 108, 1.00);
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  padding: 15px 25px;
}
.btn-green:hover {
  background-color: rgba(35, 175, 45, 1.00);
}
